@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte1:verdana, Geneva, tahoma, sans-serif;
    --fonte2:'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: aqua;
    font-family: var(--fonte1);
}

header {
   background-color: blue; 
   color: black;
   text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

 header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

section.imagem {
    background-color:  rgb(149, 119, 219);
    color: black;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(100, 100, 204, 0.178);
    text-shadow: 1px 1px 0px;
}

section#img01 {
    background-image: url('../excicios/ex023/imagens/background001.jpg');
    background-position: right center;

}

section#img02 {
    background-image: url('../excicios/ex023/imagens/background002.jpg');

}

footer {
    background-color: blue;
    text-align: center;
    color: black;
    padding: 10px;
}